@layer components {
  .button {
    @apply inline-flex items-center rounded-full px-3 py-2 transition-colors font-bold text-sm whitespace-nowrap disabled:pointer-events-none disabled:opacity-25 shrink-0 [&_svg]:shrink-0;
  }

  .button-lg {
    @apply px-4 py-3.5 text-base;
  }

  .button-primary {
    @apply bg-purple text-white hover:bg-purple-hover;
  }

  .button-destructive {
    @apply bg-red text-white hover:bg-red-hover;
  }

  .button-secondary {
    @apply bg-purple/10 text-purple hover:bg-purple/25;
  }
}
