@layer components {
  .button {
    @apply rounded-full px-3 py-2 transition-colors font-bold text-sm;
  }

  .button-l {
    @apply px-4 py-3.5 text-base;
  }

  .button-primary {
    @apply bg-purple text-white hover:bg-purple-hover;
  }

  .button-destructive {
    @apply bg-red text-white hover:bg-red-hover;
  }

  .button-secondary {
    @apply bg-purple/10 text-purple hover:bg-purple/25;
  }
}
